body{
    background-image:url(https://images.unsplash.com/photo-1504583700065-3bf6c2c01dc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
    font-size:20px;
    
    
}
h1{
    color:black;
    font-family: 'Kaushan Script', cursive;
    font-size:40px;
}
form{
    color:white;
    font-size:20px;
}
div#confirmed{
    color:red;
    font-size:20px;
}

